APP_ENV=hml
APP_URL=
APP_USER=
APP_PASSWORD=
MFA_SECRET=
ALLOW_HML_MAPPING=true
HEADLESS=true
ALLOW_PLAYWRIGHT=false
CAPTURE_SCREENSHOTS=false
HML_TEST_CLIENT=
HML_TEST_CLIENT_AREA=
HML_TEST_ATTEST_AREA=
HML_TEST_ACTION_TYPE=
HML_TEST_DEADLINE_TYPE=
HML_TEST_RESPONSIBLE=
HML_TEST_USER_ROLE=
HML_ALLOW_ANY_OPTION=false
